@import '../vars.css';

.nav{
    min-height: 96px;
    font-size: 19px;
    background: rgb(2,0,36);
    background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(134,113,148,1) 100%, rgba(0,212,255,1) 100%);
}

.navBar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.activeLink {
    color: var(--link-color)!important;
}

.navlink{
    padding: 0 25px 0 25px;
    color: var(--nav-text-color);
    text-transform: uppercase;
    transition: 0.5s;
}

.navlink:hover{
    color: var(--link-color);
    transform: scale(1.1);
}   